*{
  padding:0;
  margin:0;
}
:root {
    background: #f5f6fa;
    color: White;
    font: 1rem "PT Sans", sans-serif;
    padding:0;
    margin:0;
    box-sizing: content-box;
  }

#hid{
  display: none;
}
  
  html,
  body{
   display: flex;
   align-items:center;
   justify-content:space-between;
   flex-direction: column;
   background-color: #0b2220;
   background-repeat: no-repeat;
   background-size: contain;
   font-family: "montserrat",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   background-image: url(../static/bg\ \(1\).png);
  }

  h2{
    font-family: "montserrat",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  

/* heading */
.heading h1{
  line-break: normal;
  font-size: 2em ;
  color: rgb(0, 153,51);
  font-family: Prompt,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading h2{
  width:900px;
}



/* navbar */
li{
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

li a{
  text-decoration: none;
  font-size: 1em;
}
li a:hover{
  color:  rgb(51, 204,51);
}
.navbar{
  width:100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  height:10vh;
}


.logo{
  margin-left:2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.navbar a{
  text-decoration: none;
}


.logo h1{
  display:inline;
  font-size: 2em;
  font-family: "Poppins",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo img{
  width: 20%;
  height: 20%;
  
}
.nav-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.links{
  margin-right: 2vw;
}


.buttons{
  margin-left: -2vw;
  margin-right:3vw;
}

.nav-button{
  height:5vh;
  width:5vw;
  border-style:none;
  background-color: black;
  color:greenyellow;
  border-radius: 7px;
  margin:0px 7px;
}

.nav-button:hover{
  background-color: rgb(51, 204,51);
  color:white;
}





/* nav ends */

  a {
    color: inherit;
  }
  a:hover {
    color: #7f8ff4;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  .btn--primary {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color:white;
    background-color:      rgb(0, 153,51);
    ;
  }
  .btn--primary:hover {
    background: rgb(51, 204,51);
  }
  .btn--primary:active {
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
  .btn--inside {
    margin-left: -110px;
    height: 3vw;
    width: 7vw;
    border-radius: 5px;
    font-size: smaller;
  }
  .btn{
    text-align: center;
  }
  
  .form__field {
    width: 40vw;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    border-radius: 10px;
    outline: 0;
    padding: 22px 18px;
    height:5px;
  }

  .heading{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-bottom: 10px;
  }


  #features{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom:300px;
  }

  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:25vw;
    height: 20vh;
    justify-content: space-between;

  }

#piechart_3d{
  margin: auto auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
  width: 900px; 
  height: 500px;
  background-color: #222839;
  border-radius: 50px;
}

  @media only screen and (max-width: 600px) {
    body,.container,#features {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .form__field{
      padding: 20px;
      width:80vw;
      margin: 30px;
    }
  }
  
.report-text{
  position: absolute;
  top:40vw;
  width: fit-content;
  text-align: center;
}

.report-text>img{
  height:80px;
  width:80px;
  margin: auto;
}

footer{
  position: relative;
  width:100%;
  background-color: rgb(12, 73, 32);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.foo{
  margin-top:20px;
  width:100vw;
  height:20vw;
  background-color: rgb(12, 73, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items{
  position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 20vw;
}

.items a:hover{
  transform: scale(1.5,1.5);
  color:white;
}

#google-visualization-errors-0{
  display:none;
}




/* NEW CODE */


.support-button{
  width: 10vw;
  height:4vw;
  border-style: none;
  border-radius: 20px;
  margin-top: 15px;
  background-color: black;
  color:rgb(51, 204,51);

}


footer .wave
{
    position: absolute;
    top: -80px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: url(../static/wave.png);
    background-size: 1000px 100px;

}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x:1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
  

.rights{
  position: absolute;
  bottom:0;
  margin-bottom: 20px;
}


.i{
  height:32px;
  width:32px;
}

.navbar a:hover{
  color:white;
}
