<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sentivive</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&family=Prompt:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="">
                <div class="logo">
                    <img src="../static/Sentivive logo1.png"/>
                    <h1>Sentivive</h1>
                </div>
    
            </a>
            <div class="nav-items">
                <div class="links">
                    <ul>
                        <li><a href="#FAQ">FAQ</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="">Search</a></li>
                        
                    </ul>
                </div>
                <div class="buttons">
                    <button type="submit" class="nav-button">Login</button>
                    <button type="submit" class="nav-button">Sign up</button>
                </div>
            </div>
        </div>
        
    </nav>
    <div class="heading">
        <h1>YOUTUBE VIDEO SENTIMENT ANALYSER</h1>
        <br>
        <h2>uncover the true sentiment behind your youtube content in seconds.</h2>
        <br>
        <br>
    </div>
    <div class="container">
        
        <div class="container__item">
            
            <form class="form" action = "http://127.0.0.1:5000/login" method = "post">
                <input type="url" class="form__field" placeholder="Paste The Link Here"  name="url"/>
                <button type="submit" class="btn btn--primary btn--inside uppercase" id="sub">Analyse</button>
            </form>
        </div>     
    </div>


    <div style="margin: auto;width: 100vw">
        <div id="piechart_3d">


            <div class="programming-stats" id={{ do }}>
            <div class="chart-container">
                <canvas class="my-chart" style="display: block; box-sizing: border-box; height: 400px; width: 400px;" width="500" height="500"></canvas>
            </div>

            <div class="details">
                <ul></ul>
            </div>
            </div>

           

        </div>
              
    </div>
    

    <div class="report-text " id= {{ dis }}>
        <img src="../static/report logo.png">
        <h4>Generated report will show here !</h4>
    </div>
<section id="FAQ">
    <div id="features">
        <div class="feature feature1">
            <i class="fa-solid fa-face-smile  i fa-2xl"></i>
            <h3>Sentiment Analysis</h3>
            <p>The website offers sentiment analysis of YouTube comments</p>
        </div>
        <div class="feature feature2">
            <i class="fa-solid fa-chart-pie i fa-2xl"></i>

            <!-- <img src="https://namelix.com/img/funnel.svg" alt="funnel" width="32" height="32" /> -->
            <h3>Visualization</h3>
            <p>The website provides dynamic and animated charts that visually represent the sentiment data. </p>
        </div>
        <div class="feature feature3">
            <i class="fa-solid fa-square-poll-vertical fa-2xl"></i>
            <!-- <img src="https://namelix.com/img/heart.svg" alt="heart" width="32" height="32" /> -->
            <h3>Gain Insight</h3>
            <p>Gain insights into the overall sentiment and tone surrounding a video.</p>
        </div>
    </div>

    <div class="card-wrapper  | content-cc">
        <div class="faq-card">
      
          <div class="faq-ilustrations">
      
            <!-- mobile -->
            <img class="mobile pattern" 
                 src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/bg-pattern-mobile.svg">
            </img>
            <img class="mobile ilust" 
                 src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/illustration-woman-online-mobile.svg">
            </img>
            <!-- mobile -->
          </div>
      
          <main class="faq-content">
            <h1>FAQ</h1>
      
            <div class="faq-articles">
      
              <article class="faq-accordion">
      
                <input type="checkbox" class="tgg-title" id="tgg-title-1">
      
                <div class="faq-accordion-title">
                  <label for="tgg-title-1">
                    <h2>What is this website about?</h2>
                    <br>
                    <span class="arrow-icon">
                      <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                    </span>
                  </label>
                </div>
      
                <div class="faq-accordion-content">
                  <p>This website is about sentiment analysis of comments on YouTube videos, providing users with insights into the audience's sentiment through chart visualization.</p>
                </div>
      
              </article> <!-- faq accordion -->
      
              <article class="faq-accordion">
      
                <input type="checkbox" class="tgg-title" id="tgg-title-2">
      
                <div class="faq-accordion-title">
                  <label for="tgg-title-2">
                    <h2>
                      What are the benefits of using this website?
                    </h2>
                    <br>
                    <span class="arrow-icon">
                      <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                    </span>
                  </label>
                </div>
      
                <div class="faq-accordion-content">
                  <p>The tool provides valuable insights into audience sentiment towards a YouTube video, which can be used to inform content creation, marketing strategies, or research questions.</p>
                </div>
      
              </article> <!-- faq accordion -->
      
              <article class="faq-accordion">
      
                <input class="tgg-title" type="checkbox" id="tgg-title-3">
      
                <div class="faq-accordion-title">
                  <label for="tgg-title-3">
                    <h2>
                        What are some limitations?
                    </h2>
                    <br>
                    <span class="arrow-icon">
                      <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                    </span>
                  </label>
                </div>
      
                <div class="faq-accordion-content">
                  <p>The accuracy of the sentiment analysis may be affected by factors such as sarcasm, slang, or context, and the results may not reflect the entire audience.</p>
                </div>
      
              </article> <!-- faq accordion -->
      
              <article class="faq-accordion">
      
                <input class="tgg-title" type="checkbox" id="tgg-title-4">
      
                <div class="faq-accordion-title">
                  <label for="tgg-title-4">
                    <h2>
                        How can I contact customer support?
                    </h2>
                    <br>
                    <span class="arrow-icon">
                      <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                    </span>
                  </label>
                </div>
      
                <div class="faq-accordion-content">
                  <p>
                    To contact customer support, visit the website's "Contact Us" or "Support" page, where you may find a form to submit inquiries, an email address, or a phone number to call.</p>
                </div>
      
              </article> <!-- faq accordion -->
      
              <article class="faq-accordion">
      
                <input class="tgg-title" type="checkbox" id="tgg-title-5">
      
                <div class="faq-accordion-title">
                  <label for="tgg-title-5">
                    <h2>
                        Is the sentiment analyzer available for all YouTube videos?
                    </h2>
                    <span class="arrow-icon">
                      <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                    </span>
                  </label>
                </div>
      
                <div class="faq-accordion-content">
                  <p>The sentiment analyzer is available for most YouTube videos, but there may be some videos that are not compatible with the tool or have insufficient comments to generate meaningful results.</p>
                </div>
      
              </article> <!-- faq accordion -->
      
            </div> <!-- faq articles -->
      
          </main> <!-- faq -->
      
        </div> <!-- faq card -->
      
      </div> <!-- card wrapper -->
      

</section>
   
<section id="contact">
    <footer>
       
        <div class="foo">
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
                
            </div>
            <div class="items">
                <a href="https://discord.gg/aXyMudBkMm" target="_blank">
                    <img src="https://www.craiyon.com/_app/immutable/assets/discordIcon-4b44c2f9.svg" alt="Discord icon" height="32" width="32">
                </a>
                <a href="https://www.facebook.com/mohit.potato" target="_blank" >
                    <img src="https://www.craiyon.com/_app/immutable/assets/facebookIcon-a98c627c.svg" alt="Facebook icon" height="32" width="32">
                </a>
                <a href="https://www.instagram.com/_amin_harsh/?hl=en" target="_blank" >
                    <img src="https://www.craiyon.com/_app/immutable/assets/instagramIcon-52055ae8.svg" alt="Instagram icon" height="32" width="32">
                </a>
                <a href="https://twitter.com/mohit_potato" target="_blank" >
                    <img src="https://www.craiyon.com/_app/immutable/assets/twitterIcon-6593f17d.svg" alt="Twitter icon" height="32" width="32">
                </a>
                <a href="mailto:geetesh.p@somaiya.edu,mohit.patel@somaiya.edu,harsh.amin@somaiya.edu" target="_blank"">
                    <img src="https://www.craiyon.com/_app/immutable/assets/mailIcon-52b38cc3.svg" alt="Mail icon" height="32" width="32">
    
                </a>
            </div>
            <div class="support">
                <button type="submit" class="support-button">
                   ♥️ Support Us
                </button>

            </div>
            <div class="rights">
                <p>All rights reserved @ Group no. 11, 2023</p>
            </div>
        </div>
       
     </footer>   
   
</section> 

    

 
              
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script >
  const chartData = {
  labels: ["Postive","Negative","Neutral"],
  data: [{{positive}}, {{negative}}, {{neutral}}],
};

const myChart = document.querySelector(".my-chart");
const ul = document.querySelector(".programming-stats .details ul");

new Chart(myChart, {
  type: "doughnut",
  data: {
    labels: chartData.labels,
    datasets: [
      {
        label: "Language Popularity",
        data: chartData.data,
      },
    ],
  },
  options: {
    borderWidth: 10,
    borderRadius: 2,
    hoverBorderWidth: 0,
    plugins: {
      legend: {
        display: false,
      },
    },
  },
});

const populateUl = () => {
  chartData.labels.forEach((l, i) => {
    let li = document.createElement("li");
    li.innerHTML = `${l}: <span class='percentage'>${chartData.data[i]}%</span>`;
    ul.appendChild(li);
  });
};

populateUl();
</script>

</body>
</html>
